.content-area {
  .text-area {

    .el-row {
      line-height: 40px;

      .tag {
        text-align: right;
      }

      .text {
        padding-left: 2rem;
        text-align: left;
      }
    }
  }
}
