@import "../../common/scss/config";

.favorite {
  background-color: $base-back-color;
  color: $base-font-color;
  height: 100%;
  min-height: 100vh;

  .favorite-content-area {
    margin: auto;
    padding-top: 64px;
    width: 60%;
  }
}
