@import "../../common/scss/config";

.home {
  background-color: $home-back-color;
  color: $home-font-color;
  height: 100vh;

  .main-img-area {
    margin: auto;
    padding-top: 64px;
    width: 30%;
  }

  .title {
    font-size: 36px;
  }
}
