@import "../../common/scss/config";

@keyframes headerLinkHover {
  from {
    background-color: $home-back-color;
    color: $home-font-color;
  }
  to {
    background-color: $home-font-color;
    color: $home-back-color;
  }
}

.header {
  background-color: $home-back-color;
  color: $home-font-color;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .header-links {
    line-height: 44px;
    margin: auto;
    padding: 10px 0;
    width: 60%;

    .link {
      box-sizing: border-box;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      margin: 0 1rem;

      &:hover {
        animation: headerLinkHover .5s linear;
        background-color: $home-font-color;
        border-radius: 5px;
        color: $home-back-color;
      }
    }
  }
}
