@import "../../common/scss/config";

.cloud-service {
  background-color: $base-back-color;
  color: $base-font-color;
  height: 100%;
  min-height: 100vh;

  .cloud-service-content-area {
    font-size: 20px;
    margin: auto;
    padding-top: 64px;
    width: 60%;

    .title {
      line-height: 50px;
      margin-top: 30px;
    }

    .el-row {
      line-height: 50px;
      margin: 30px auto 0;
      width: 60%;

      .el-button {
        font-size: 20px;
        font-weight: bold;
        padding: 15px 30px;
      }
    }
  }
}
