.cloud-service
  .cloud-service-content-area
    .title {{ title }}
    el-row
      el-col(:span="12" v-for="item in serviceLinks" :key="item.text")
        el-button(v-bind:type="item.buttonType" v-on:click="changePage(item.path)") {{ item.text }}
    transition(name="router-transition" enter-active-class="animated fadeInUp")
      router-view

